.reviewWrap{
    display: flex;
    gap: 24px;
}

.reviewsList {
  list-style-type: none;
  padding: 0;
}

.reviewItem {
  margin-bottom: 32px;
}

.reviewer {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.reviewerInitial {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;
  line-height: 125%;
  color: var(--button);
  border-radius: 60px;
  width: 60px;
  height: 60px;
  background: var(--block-features);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 16px;
}

.reviewerDetails {
  display: flex;
  flex-direction: column;
}

.reviewerName {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 18px;
  line-height: 133%;
  color: var(--main);
  margin-bottom: 8px;
}

.stars {
  display: flex;
  gap: 4px;
}

.star {
  width: 16px;
  height: 16px;
}

.comment {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--text);
}
