.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header,
.footer {
  flex-shrink: 0;
}

.mainMenu {
  flex-shrink: 0;
}

.mainContent {
  flex-grow: 1;
  overflow: auto;
  position: relative;
}
